# =========================
# VS Code
# =========================

.vscode/

# =========================
# Sistema operacional
# =========================

# Windows
Thumbs.db
Desktop.ini

# =========================
# Arquivos temporários
# =========================

*.tmp
*.temp
*.log

# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.env
.env.*

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Banco de dados
# =========================

*.sqlite
*.sqlite3
*.db